cloud_id                 = "kvak"
folder_id                = "kvak"
subnet_id                = "kvak"
image_id                 = "kvak"
public_key_path          = "~/.ssh/appuser.pub"
service_account_key_file = "key.json"
instance_count           = 1
ip_range                 = "10.10.10.0/24"
